.container-grid{
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 10%;
    height: 60px;
    background-color: lightcoral;
    border: dashed green 2px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 18px;
}

.click-active{
    background-color: aqua;
    font-size: 36px;
    color: blueviolet;
    border-radius: 1px;
}



